.mydiv{
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
    max-width: 150px;
    background-color: black
}
body{
    background-image: url('../img/pizza.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 50px; 
    margin-bottom: 0;
}