body{
    background-image: url('../img/pizza.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #000;
    padding: 50px; 
    margin-bottom: 0;
}
p{
    font-size: 30px;
}
.heading{
    position: relative;
    font-weight: bold;
    text-align: center;  
    
}
.order-details,.delivery,.heading,.mydiv{
    
    font-size: 150%;
    position: relative;
    top: 60px;
    left: 50px;
    border: 2px solid rgb(19, 18, 18);
    padding: 6px;
    margin: 10px;
    background-color: #fff;
    opacity: 0.8;
}


